{% extends "layout.html" %}
{% block body %}
  <h2>Change Password</h2>
	<form action="{{ url_for('change_password', username=session.username) }}" method="post">
    <dl>
        <dt>Old password:</dt>
        <dd><input class="inp" type="password" name="old_pass"></dd>
        <dt>New Password:</dt>
        <dd><input class="inp" type="password" name="new_password"></dd>
        <dt>Confirm Password:</dt>
        <dd><input class="inp" type="password" name="confirm_password"></dd>
    </dl>
    <input class="btn" type="submit" value="Submit">
	</form>
{% endblock %}
